<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <h1> Basic Calculator </h1>
    <input type="number" name="input1" >
    <select name="operator" id="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" name="input2">
    <button class="btn btn-primary" type="submit"> = </button>
</form>
</body>
</html>